img{
    width: 300px;
    height: 200px;
    margin:20px;
}
div.border{
border:1px solid black;
width:350px;
padding:5px;
}
p.interestingFact{
font-style:italic;
}
span{
font-weight:bold
}
li{
list-style:none;
}
p{
text-align: left;
}
div.cardContent{
weidth:320px;
border:1px solid black;
padding:5px;

}